# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Poetry files
poetry.lock

# Environment variables
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Docker
*.log
docker-compose.override.yml

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup

# Cloud credentials
config/credentials.json
